@charset "UTF-8";
body {
  font-family: "Yu Mincho", "YuMincho", "游明朝", "Noto Serif JP", "Hiragino Mincho ProN", "IPAexMincho", serif;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  line-height: 1.5625;
}

html,
body {
  overflow-x: hidden;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 10px;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

a:hover {
  opacity: 0.3;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  width: 100%;
  max-width: 980px;
  padding-inline: 30px;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .inner {
    max-width: 767px;
    padding-inline: 20px !important;
    margin-inline: auto;
    margin: 0 auto;
  }
}

.fv__image {
  position: relative;
}

.image-wrap {
  position: relative;
}
.image-wrap__photo img, .image-wrap__grid img {
  width: 100%;
  display: block;
}
.image-wrap__grid {
  position: absolute;
  inset: 0;
}
.image-wrap__grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.header {
  position: absolute;
  inset: 0;
  z-index: 10;
}
.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 980px;
  padding-inline: 30px;
  margin-inline: auto;
  color: white;
  -webkit-padding-before: 24px;
          padding-block-start: 24px;
}

.site-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  padding: 5px;
}

.header__nav {
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  padding: 5px;
}
.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.fv-catch {
  position: absolute;
  top: 42%;
  left: 32%;
  z-index: 10;
  color: #ffffff;
  line-height: 1.75;
  letter-spacing: 12px;
}

.fv-text {
  font-size: 40px;
  font-weight: 600;
  padding-left: 0.5em; /* 全体を1文字分右へ */
  text-indent: -0.5em;
}

.about {
  position: relative;
}

.about-text {
  z-index: 10;
  position: absolute;
  top: 48%;
  right: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-text h2 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 30px;
  font-weight: 500;
  line-height: 118%;
}

.about-catch p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: 0.3em;
}

.service {
  background-color: rgba(77, 150, 0, 0.102);
  -webkit-padding-before: 75px;
          padding-block-start: 75px;
  -webkit-padding-after: 80px;
          padding-block-end: 80px;
}

.title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #4D9600;
  letter-spacing: 9px;
}

.title {
  font-size: 20px;
  letter-spacing: 6px;
  line-height: 1.65;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-padding-after: 68px;
          padding-block-end: 68px;
}

.service-items {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px !important;
}

.service-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.left-block {
  position: relative;
  z-index: 10;
  width: 600px;
}

.left-block .right-text {
  text-align: right;
  display: block;
  width: 100%;
  font-size: 1.6rem;
  -webkit-margin-before: 19px;
          margin-block-start: 19px;
}

.right-black {
  position: relative;
  margin-left: -180px;
  z-index: 2;
  margin-top: 145px;
  width: 500px;
}

.second-block {
  position: relative;
  margin-right: -180px;
}

.photo-image {
  width: 600px;
}

.second-image {
  width: 500px;
}

.left-text {
  -webkit-margin-before: 19px;
          margin-block-start: 19px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5625;
}

.service-text {
  position: absolute;
  top: 20%; /* 画像の中での位置を調整 */
  left: 50%;
  display: grid;
  row-gap: 17px;
  z-index: 3;
  color: #fff; /* 文字色（必要に応じて変更） */
  font-weight: 600;
}

.second-text {
  left: 8%;
}

.third-text {
  left: 48%;
}

h3 {
  font-size: 25px;
  line-height: 1.32;
  letter-spacing: 0;
}

span {
  font-size: 16px;
  line-height: 1.5625;
  letter-spacing: 0;
}

.second-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.works {
  -webkit-padding-before: 70px;
          padding-block-start: 70px;
  -webkit-padding-after: 97px;
          padding-block-end: 97px;
}

.works-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.works-image {
  width: 200px;
}

.works-text {
  -webkit-margin-before: 19px;
          margin-block-start: 19px;
}

.works-text h4 {
  font-size: 16px;
  font-weight: 500;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
}
.modal__bg {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.modal__content {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.modal__content img {
  max-width: 90%;
  max-height: 90%;
}

.modal__content-inner {
  background-color: #fff;
  width: 420px;
}

.news {
  background-color: rgba(77, 150, 0, 0.102);
  -webkit-padding-before: 70px;
          padding-block-start: 70px;
  -webkit-padding-after: 80px;
          padding-block-end: 80px;
}

.border-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}

.news-items {
  position: relative;
}

.news-items h3 {
  width: 430px;
  height: 50px;
  background-color: #4D9600;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.65;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #fff;
  -webkit-padding-before: 20px;
          padding-block-start: 20px;
  -webkit-padding-after: 13px;
          padding-block-end: 13px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  -webkit-padding-end: 20px;
          padding-inline-end: 20px;
  border-bottom: 1px solid #4D9600;
  -webkit-column-gap: 69px;
     -moz-column-gap: 69px;
          column-gap: 69px;
}

.news-item-first {
  -webkit-padding-before: 30px;
          padding-block-start: 30px;
}

.news-items li:last-child {
  border-bottom: none;
  /* 最後の線 */
  height: 74px;
}

.news-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 69px;
     -moz-column-gap: 69px;
          column-gap: 69px;
}

.news-date {
  font-size: 16px;
  font-weight: 500;
  line-height: 2.0625;
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0; /* ← これで日付が縮まない */
}

.news-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3888888889;
}

.arrow-text {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  vertical-align: bottom;
  font-weight: 600;
  color: #4D9600;
  width: 80px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  cursor: pointer;
}
.arrow-text:hover {
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
}
.arrow-text:active {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.news-arrow-text {
  white-space: nowrap;
  position: absolute;
  top: 85%;
}

.company {
  -webkit-padding-before: 73px;
          padding-block-start: 73px;
  -webkit-padding-after: 80px;
          padding-block-end: 80px;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.location-map {
  position: relative;
  width: 600px;
  height: 400px;
  z-index: 2;
}

.company-second-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 262px;
}

.company-second-image img {
  width: 100%;
  display: block;
}

.right-black-company {
  margin-top: 200px;
  position: relative;
  margin-left: -180px;
  z-index: 1;
}

.location-info {
  position: absolute;
  top: 51%;
  left: 66%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  color: #fff;
}

.name {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.65;
  white-space: nowrap;
}

.address {
  -webkit-margin-before: 7px;
          margin-block-start: 7px;
  font-size: 1.6rem;
  line-height: 1.5625;
  font-weight: 600;
  white-space: nowrap;
}

.tel {
  font-size: 1.6rem;
  line-height: 1.5625;
  font-weight: 600;
}

.contact-link-tel {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 600;
}

.e-mail {
  -webkit-margin-before: 19px;
          margin-block-start: 19px;
  font-size: 1.6rem;
  line-height: 1.5625;
  font-weight: 600;
}

.tel-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-margin-before: 15px;
          margin-block-start: 15px;
}

.contact {
  -webkit-padding-before: 73px;
          padding-block-start: 73px;
  -webkit-padding-after: 80px;
          padding-block-end: 80px;
  background-color: rgba(77, 150, 0, 0.102);
}

.contact-title {
  -webkit-padding-after: 35px;
          padding-block-end: 35px;
}

.contact-text {
  -webkit-margin-start: 60px;
          margin-inline-start: 60px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
}

.form {
  max-width: 880px;
  -webkit-margin-start: 60px;
          margin-inline-start: 60px;
  -webkit-margin-before: 70px;
          margin-block-start: 70px;
  -webkit-margin-end: 60px;
          margin-inline-end: 60px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
}
@media screen and (max-width: 767px) {
  .form {
    -webkit-margin-before: 3rem;
            margin-block-start: 3rem;
  }
}

.form .form__items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4.5rem;
}
@media screen and (max-width: 767px) {
  .form .form__items ul {
    row-gap: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .form .form__items ul li {
    /* margin-block-end: 1.6rem; */
  }
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.4090909091%;
     -moz-column-gap: 3.4090909091%;
          column-gap: 3.4090909091%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.form__item--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .form__item {
    display: block;
  }
}

.form__item:not(:first-of-type) {
  -webkit-margin-before: 3rem;
          margin-block-start: 3rem;
}
@media screen and (max-width: 767px) {
  .form__item:not(:first-of-type) {
    -webkit-margin-before: 1.5rem;
            margin-block-start: 1.5rem;
  }
}

.form__label {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.65;
  width: 14rem;
  -webkit-padding-before: 0.5rem;
          padding-block-start: 0.5rem;
}
@media screen and (max-width: 767px) {
  .form__label {
    width: 100%;
    font-size: 1.8rem;
    line-height: 1.8333333333;
    -webkit-padding-before: 0.4rem;
            padding-block-start: 0.4rem;
  }
}

.form__label {
  font-weight: 500;
  margin-bottom: 8px;
}
.form__label span {
  display: inline-block;
}
.form__input {
  display: block;
  gap: 77px;
}
.form__input label {
  display: block;
  margin-top: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 1.8rem;
  line-height: 1.3888888889;
  font-weight: 500;
}
.form__input label-question {
  white-space: nowrap;
}
.form__input input[type=radio] {
  margin-right: 9px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form__input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-gender {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.65;
}

.form-email {
  white-space: nowrap;
}

.form__la {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: normal;
}

.form-form_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: normal;
}

.radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  cursor: pointer;
  -webkit-margin-start: 6px;
          margin-inline-start: 6px;
}
.radio input[type=radio] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  position: relative;
  cursor: pointer;
}
.radio input[type=radio]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

input[type=text],
input[type=email] {
  height: 4rem;
  width: 100%;
  padding-inline: 15px;
  font-size: 1.7rem;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  input[type=text],
  input[type=email] {
    height: 50px;
    font-size: 1.6rem;
  }
}

.form-type {
  -webkit-margin-before: 5px;
          margin-block-start: 5px;
}

.select-wrap {
  position: relative;
}
.select-wrap select {
  width: 100%;
  padding: 12px 40px 12px 20px;
  font-size: 1.8rem;
  border: 1px solid #fff;
  border-radius: 4px;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.select-wrap::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 16px;
  background: url("../images/triangle.png") no-repeat center/contain;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}

.form-detail {
  display: block;
}

textarea {
  height: 200px;
  width: 100%;
  resize: none;
  padding: 15px;
  font-size: 1.7rem;
  line-height: 1.6;
  background-color: #fff;
  word-break: break-word;
  resize: none;
}
@media screen and (max-width: 767px) {
  textarea {
    font-size: 1.6rem;
  }
}

.contact-check__list .contact-check-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-check__list input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #333;
  border-radius: 2px;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}

.contact-check__list input[type=checkbox]:checked {
  background-color: #333;
}

.contact-check__list input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.contact-check__list label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.privacy-box {
  max-height: 200px; /* 枠の高さ */
  padding: 16px;
  border: 1px solid #ccc;
  overflow-y: auto; /* 縦スクロール */
  background-color: #fff;
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 12px;
}

.contact__button {
  -webkit-margin-before: 5rem;
          margin-block-start: 5rem;
  margin-inline: auto;
  width: 300px;
}
@media screen and (max-width: 767px) {
  .contact__button {
    width: 33.5rem;
    -webkit-margin-before: 5rem;
            margin-block-start: 5rem;
  }
}
@media screen and (max-width: 370px) {
  .contact__button {
    width: 100%;
    -webkit-margin-before: 5rem;
            margin-block-start: 5rem;
  }
}

input[type=submit] {
  width: 100%;
  height: 50px;
  background-color: #4D9600;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  text-align: center;
  line-height: 1.65;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2px;
}
@media screen and (max-width: 767px) {
  input[type=submit] {
    font-size: 2rem;
    line-height: 1.3;
    height: 41px;
    -webkit-padding-before: unset;
            padding-block-start: unset;
    -webkit-padding-after: unset;
            padding-block-end: unset;
  }
}

input[type=submit]:hover {
  color: #4D9600;
  background-color: #fff;
  border: 1px solid #4D9600;
}

.footer {
  -webkit-padding-before: 80px;
          padding-block-start: 80px;
  -webkit-padding-after: 80px;
          padding-block-end: 80px;
}

.company-name {
  border-bottom: 1px solid #000000;
  -webkit-padding-after: 28px;
          padding-block-end: 28px;
  text-align: center;
  font-size: 20px;
  font-weight: 500px;
  line-height: 1.65;
}

.footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5.4%;
     -moz-column-gap: 5.4%;
          column-gap: 5.4%;
  font-size: 18px;
  font-weight: 500px;
  line-height: 1.8333333333;
}

.footer__nav ul li {
  text-align: center;
}

.sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-column-gap: 3.6%;
     -moz-column-gap: 3.6%;
          column-gap: 3.6%;
  -webkit-margin-before: 26px;
          margin-block-start: 26px;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  background-color: #4D9600;
  color: #fff;
  height: 92px;
}/*# sourceMappingURL=style.css.map */