body {
  font: {
    family: "Yu Mincho", "YuMincho", "游明朝", "Noto Serif JP", "Hiragino Mincho ProN", "IPAexMincho", serif;
    weight: 700;
    style: normal;
  }

  color: #000000;
  line-height: calc(25 / 16);
}

html,
body {
  overflow-x: hidden;
  appearance: none;
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 10px;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;

}

a {
  display: inline-block;
  text-decoration: none;
  transition: opacity 0.4s;
}

a:hover {
  opacity: 0.3;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  width: 100%;
  max-width: 980px;
  padding-inline: 30px;
  margin-inline: auto;

  @media screen and (max-width: 767px) {
    max-width: 767px;
    padding-inline: 20px !important;
    margin-inline: auto;
    margin: 0 auto;
  }
}

// ここからFV

.fv__image {
  position: relative;
}
.image-wrap {
  position: relative;

  &__photo,
  &__grid {
    img {
      width: 100%;
      display: block;
    }
  }

  &__grid {
    position: absolute;
    inset: 0;
    

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
    }
  }
}

.header {
  position: absolute;
  inset: 0; // top:0; left:0; right:0;
  z-index: 10;

  .header__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 980px;
    padding-inline: 30px;
    margin-inline: auto;
    color: white;
    padding-block-start: 24px;

  }
}

.site-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  padding: 5px;
}

.header__nav {
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  padding: 5px;


  ul {
    display: flex;
    gap: 20px; // 必要なら余白
  }
}
// ここからmain

.fv-catch {
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 10;
  color: #ffffff;
  font-size: 40px;
}

// ここからabout

.about {
  position: relative;
}

.about-text {
  z-index: 10;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  display: flex;  
}

.about-text {
  h2 {
    writing-mode: vertical-rl;
    order: 2;
    font-size: 30px;
    font-weight: 500;
    line-height: 118%;

  }
}


.about-catch {
  p {
    writing-mode: vertical-rl;
    order: 1;
    font-size: 18px;
    font-weight: 500;
    line-height: 137%;
  }
}

// ここからservice

.service {
  background-color:rgba(77, 150, 0, 0.102);
}
.title-wrap {
  padding-block-start: 80px;
  display: flex;
  font-size: 30px;
  justify-content: center;
  color: #4D9600;
  letter-spacing: 9px;
}
.title {
  margin-block-start: 6px;
  font-size: 20px;
  letter-spacing: 6px;
  line-height: calc(33 / 20);
  display: flex;
  justify-content: center;
  padding-block-end: 68px;
}
.service-items {
  display: flex !important;
  flex-direction: column; 
  gap: 80px !important;
}
.service-image {
  position: relative;
  display: flex;
  align-items: flex-start;
  
}
.left-block {
  position: relative;
  z-index: 10;
}
.right-black {
 position: relative;
  margin-left: -180px; /* ここで重ね具合を調整 */
  margin-top: 145px;
  z-index: 2; 
}
.second-block {
  position: relative;
  margin-right: -180px;
  
}
.photo-image {
  width: 600px;
}
.second-image {
  width: 500px;
}
.left-block .right-text {
  text-align: right;
  display: block;
  width: 100%; 
}
.service-text {
  position: absolute;
  top: 20px;      /* 画像の中での位置を調整 */
  left: 200px;
  z-index: 3;
  color: #fff;    /* 文字色（必要に応じて変更） */
  font-weight: 600;
  
  }
  h3 {
    font-size: 25px; 
    line-height: calc(33 /25);
      letter-spacing: 0;

}
  span {
    font-size: 16px;
    line-height: calc(25 /16);
    letter-spacing: 0;
  }
  .second-item {
    display: flex;
    flex-direction: row-reverse;
  }


  // ここからworks

.works-items {
  display: flex;
  column-gap: 40px;
}


.works-image {
  width: 200px;
}
.works-text h4{
  font-size: 16px;
  font-weight: 500;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;

  // 背景（薄暗い）
  &__bg {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  // コンテンツ（画像・テキスト）
  &__content {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    img {
      max-width: 90%;
      max-height: 90%;
    }
  }
}



































































































































































  

























































































































































































































































































































































































































  





















  



























































  




































































































































































































































































































































































































































































































































































































































































































